.position-fixed {
    position: fixed;
    top: 140px;
    left: 230px;
    color: dodgerblue;
}

.position-relative{
    position: relative;
    top: 40px;
    left: 400px;
    color: #617eff;
    width: 25em;
}

.position-absolute {
    position: absolute;
}
